body {
  margin: 0;
  font-family: 'Merriweather', serif;
}
.top {
  background-color: #E4F9F5;
  margin-left: auto;
  padding-top: 100px;
}
earth-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.earth {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.global {
  width: 25%;
  float: right;
  margin-left: 30px;
}
